<!-- start custom head snippets -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2DFG81X4NS"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-2DFG81X4NS');
</script>

<link rel="icon" type="image/png" href="./assets/images/fav/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="./assets/images/fav/favicon.svg" />
<link rel="shortcut icon" href="./assets/images/fav/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="./assets/images/fav/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Lines" />
<link rel="manifest" href="./assets/images/fav/site.webmanifest" />
<title>{% t site.name %} - {% t site.tagline %}</title>
<!-- end custom head snippets -->